* {
    padding: 0px;
    margin: 0px;
}

.Body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(44, 42, 42);
}

.main {
    background-color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.green-bg {
    background-image: url('Images/green-bg.png');
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-position: contain;
}

.header {
    color: white;
    font-family: hellix;
}

.header-bg {
    background-color: black;
    border-radius: 10px;
    padding: 10px 0px;
}

@font-face {
    font-family: hellix;
    src: url(WEBFONTS/Hellix-Medium.ttf);
}

.header a {
    color: white;
    font-size: 15px;
}

.header a:hover {
    color: #30D696;
    font-size: 15px;
}

.header button {
    color: white;
}

.header-bg img {
    width: 100px;
}

.profile img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.launch {
    align-content: center;
    border: 1px solid #30D696;
    border-radius: 30px;
    font-size: 15px;
    padding: 1px 5px 1px 3px;
}

.launch :hover {
    align-content: center;
    border: 1px solid #30D696;
    border-radius: 30px;
    font-size: 15px;
    color: #30D696;
    padding: 1px 15px 1px 2px;
}

.launch img {
    width: 35px;
    height: 35px;
}

.heroSection {
    color: white;
    text-align: center;
}

.heroSection span {
    background: linear-gradient(134.67deg, #42E2AE 32.51%, #5E91F2 75.02%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: Myhellix;
    src: url(WEBFONTS/Hellix-BoldF.ttf);
}

.heroSection h1 {
    font-family: Myhellix;
    font-size: 6vw;
}

.heroSection h6 {
    font-family: hellix;
    font-weight: 500;
    font-size: 18px;
}

.intro h6 {
    font-family: hellix;
    font-weight: 500;
    font-size: 14px;
}

.hero-content {
    justify-content: center;
    text-align: center;
}

.hero-content h6 {
    font-size: 14px;
    font-weight: bold;
}

.hero-content img {
    width: 20px;
    margin-right: 5px;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hero-button button {
    color: white;
    border: 1px solid #30D696;
    border-radius: 30px;
    font-family: hellix;
}

.hero-button button:hover {
    color: white;
    border: 1px solid #30D696;
    border-radius: 30px;
    font-family: hellix;
}

.hero-2 {
    display: flex;
    background-color: #30D696;
    border: 1px solid #30D696;
    border-radius: 30px;
    font-family: hellix;
    padding: 2px 0px 1px 4px;
}

.hero-2 button {
    color: black;
}

.hero-2 button:hover {
    color: black;
}

.hero-2 img {
    width: 35px;
}

/* image carousel */

.carousel {
    overflow: hidden;
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
}

.slide-track {
    display: flex;
    width: calc(200%);
    animation: scroll 20s linear infinite;
}

.slide {
    flex: 0 0 auto;
    width: 17vw;
    margin: 0 0.5vw;
}

.slide img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.carousel-wrapper {
    position: relative;
    width: 100%;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    pointer-events: none;
    z-index: 10;
    object-fit: cover;
}

.vision {
    display: flex;
}

.vision h1 {
    font-family: Myhellix;
    color: white;
    font-size: 50px;
    text-align: center;
}

.vision h1 span {
    background: linear-gradient(134.67deg, #42E2AE 32.51%, #5E91F2 75.02%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vision-border {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(84.3deg, rgba(77, 253, 185, 0.2) 0%, rgba(62, 234, 255, 0.2) 45.52%, rgba(57, 133, 255, 0.2) 100%);
}

.inner-header li {
    margin-right:5px;
}

.inner-screen a {
    color: white;
    font-size: 11px;
}

.inner-screen a:hover {
    color: #30D696;
}

.inner-header {
    background-color: #0F1110;
      border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.inner-header ul li img {
    width: 25px;
    height: 25px;
}

.setting {
    display: flex;
    gap: 5px;
}

.setting img {
    width: 35px;
    height: 35px;
}

.profile-grp {
    display: flex;
    color: white;
    font-family: hellix;
    gap: 5px;
}

.profile-grp img {
    width: 35px;
    height: 35px;
}

.profile-grp h6 {
    font-size: 11px;
}